[Unit]
Description=unifi_respondd
After=syslog.target network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
WorkingDirectory=/opt/unifi_respondd
ExecStart=/opt/unifi_respondd/respondd.py

CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW

[Install]
WantedBy=multi-user.target
